body{
	background-color: #e7e7e7;
}

.mainbody{
	max-width: 800px;
	background-color: white;
	border: 2px solid black;
	padding: 2rem;
	margin-bottom: 3rem;
	margin-top: 3rem;
}


.profile {
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.subtext {
	font-size: 1.1rem;
}

#Headshot{
	float: right;
	width: 200px;
	height: 250px;
}

.push {
	float: right;
}

#links {
	 list-style: none; 
	 padding-left: 1rem; 
	 margin-bottom: 0; 
	 margin-top: 0;
}

hr {
	border-width: 0.5rem;
	border-color: #8fa8f0;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btn-primary {
	background-color: #8fa8f0;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.btn-primary:hover {
	background-color: #8fa8f0;
	background-image: linear-gradient(to bottom right, #5252ff, #8fa8f0);
}

.btn-primary:active {
	background-color: #8fa8f0;
	background-image: linear-gradient(to bottom right, #5252ff, #8fa8f0);
}

@media screen and (max-width: 650px) {
	.profile{
		font-size: 0.8rem;
	}

	.subtext {
		font-size: 0.7rem;
	}

	#Headshot {
		width: 100px;
		height: 125px;
	}

	.push {
		float: none;
		content: "\A";
		white-space: pre;
	}

	.btn-primary {
		width: 80px;
		height: 20px;
		font-size: 0.8rem;
		padding: 0;
	}
}